*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #2A2D34;
    /* background-image: url("../images/bkg1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */

}
::-webkit-scrollbar{
    width: 10px;
    background-color:transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #5B1865;
    height: 25px;
}

.nav-bar{
    width: 75px;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    transition-duration: 700ms;
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
}
.nav-bar span{
    display: none;
}
.nav-bar:hover{
    width: 250px;
    opacity: 1;
}
.nav-bar:hover span{
    display: flex;
}
.nav-bar-item{
    width: 100%;
    height: 15%;
    transition-duration: 500ms;
    font-size: 20px;  
    display: flex;
    align-items: center;  
    justify-content: center;
}
.nav-bar-item .navbar-link{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;
}
.nav-bar-item:hover{
    background-color: #5B1865;
    width: 105%;
}
.nav-bar-item:first-child a{
    transition-duration: 700ms;
}
.nav-bar:hover .nav-bar-item:first-child a{
    transform: rotate(180deg);
}
.nav-bar .home{
    margin-top: auto;
}

.container{
    height: 100%;
}

.area-1{
    height: 100vh;
    width: 100%;
}


.wellcome-area{
    margin-top: 100px;
    color: whitesmoke;
    background-color: rgb(233, 236, 239, 0.0);
}

.wellcome-area h1{
    font-weight: bold;
}


.about{
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.display-1{
    font-size: 10rem;
    font-weight: 700;
    left: 10%;
    top: 0;
    position: absolute;
    display: inline;
    color: rgba(28, 141, 126, 0.4);
    z-index: -3;
}
.about-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.about-text{
    width: 50%;
    height: 60%;
}
.about-text-bio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 1rem;
    text-align: right;
}
.about-text-bio p{
    padding: 20px;
}

.about-photo{
    width: 50%;
    height: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-photo img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}



.about-skills{
    width: 100%;
    height: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.skills-bars{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
}
.skills-bars span{
    display: none;
}
.skills-bars .html-area, .css-area, .js-area, .react-area{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.skills-bars .progress{
    width: 80%;
}
.skills-bars p{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.progress{
    background-color: rgb(144, 209, 212);
}
.html-area:hover span{
    display: block;
}
.html-area .progress-bar{
    background-color: #e34c26;
    transition-duration: 0.7s;
    width: 0%;
}
.html-area:hover .progress-bar{
    width: 60%;
    background-color: #e34c26;
}
.html-area:hover i{
   color: #e34c26;
}



.css-area:hover span{
    display: block;
}
.css-area .progress-bar{
    background-color:#264de4;
    transition-duration: 0.7s;
    width: 0%;
}
.css-area:hover .progress-bar{
    width: 50%;
    background-color:#264de4;
}
.css-area:hover i{
   color:#264de4;
}
.js-area:hover span{
    display: block;
    color: black;
}
.js-area .progress-bar{
    background-color: #f0db4f;
    transition-duration: 0.7s;
    width: 0%;
}
.js-area:hover .progress-bar{
    width: 30%;
    background-color: #f0db4f;
}
.js-area:hover i{
   color: #f0db4f;
   background-color: black; 
   background-size: 25px 25px;
   background-position: bottom right;

}
.react-area:hover span{
    display: block;
    color: black;
}
.react-area .progress-bar{
    background-color: #61dbfb;
    transition-duration: 0.7s;
    width: 0%;
}
.react-area:hover .progress-bar{
    width: 10%;
    background-color: #61dbfb;
}
.react-area:hover i{
   color: #61dbfb;
}



.hobbies{
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.hobbies-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-container {
    width: 450px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
} 
.swiper-slide {
    background-position: center;
    background-size: cover;
}
  .s1{
      background-image: url("../images/fam.jpg");
  }
  .s2{
    background-image: url("../images/swing2.jpg");
}


.networks{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.networks-box{
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.networks-box span{
    display: none;
    font-size: 2rem;
}
.networks-box a{
    color: white;
}
.networks-box:hover span{
    display: flex;
}
.networks-box img {
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.networks-box i{
    font-size: 10rem;
    color: white;
}
.networks-box:hover i{
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
}
.networks-box:hover img{
    display: flex;
}
.networks-box:hover i{
    background-color: white;
    font-size: 7rem;
}

.ig i{
    background: -webkit-linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 35%, rgba(79,91,213) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ig:hover{
    background: -webkit-linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 35%, rgba(79,91,213) 100%);

}
.fb i{
    background: -webkit-linear-gradient(144deg, rgb(9, 14, 73) 0%, rgb(13, 37, 145) 35%, rgb(44, 123, 226) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fb:hover{
    background: -webkit-linear-gradient(144deg, rgb(9, 14, 73) 0%, rgb(13, 37, 145) 35%, rgb(44, 123, 226) 100%);

}
.tw i{
    background: -webkit-linear-gradient(144deg, rgb(11, 61, 126) 0%, rgb(13, 76, 172) 35%, rgb(44, 123, 226) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tw:hover{
    background: -webkit-linear-gradient(144deg, rgb(11, 61, 126) 0%, rgb(13, 76, 172) 35%, rgb(44, 123, 226) 100%);

}



@media screen and (max-width: 700px) {
    body{
        bottom: 60px;

    }
    .nav-bar{
        height: 50px;
        width: 100vw;
        bottom: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        opacity: 1;  
    }
    .nav-bar-item{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .nav-bar-item:first-child{
        display: none;
    }
    .nav-bar-item:last-child{
        order: -1;
    }
    .nav-bar:hover{
        height: 50px;
        width: 100vw;
        bottom: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        opacity: 1;
    }
    .nav-bar:hover span{
        display: none;
    }
    .nav-bar-item:hover{
        background-color: rgb(2, 37, 2);
        width: 20%;
    }

    
    .display-1{
        /* display: none; */
        font-size: 3rem;
        top: 0;
        left: 0;
    }
    .wellcome-area{
        margin-top: 40px;
    }
    .card{
        height: 20%;
    }

    .networks{
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;    
    }
    .networks-box{
        height: 30%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .networks-box span{
        display: none;
        font-size: 1rem;
    }
    .networks-box a{
        color: white;
    }
    .networks-box:hover span{
        display: flex;
    }
    .networks-box img {
        display: none;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .networks-box i{
        font-size: 7rem;
        color: white;
    }
    .networks-box:hover i{
        -webkit-background-clip: text;
        -webkit-text-fill-color: white;
        font-size: 4rem;
    }
    .networks-box:hover img{
        display: flex;
    }
    .networks-box:hover i{
        background-color: white;
        font-size: 3rem;
    }
    
    .ig i{
        background: -webkit-linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 35%, rgba(79,91,213) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .ig:hover{
        background: -webkit-linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 35%, rgba(79,91,213) 100%);
    
    }
    .fb i{
        background: -webkit-linear-gradient(144deg, rgb(9, 14, 73) 0%, rgb(13, 37, 145) 35%, rgb(44, 123, 226) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fb:hover{
        background: -webkit-linear-gradient(144deg, rgb(9, 14, 73) 0%, rgb(13, 37, 145) 35%, rgb(44, 123, 226) 100%);
    
    }
    .tw i{
        background: -webkit-linear-gradient(144deg, rgb(11, 61, 126) 0%, rgb(13, 76, 172) 35%, rgb(44, 123, 226) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .tw:hover{
        background: -webkit-linear-gradient(144deg, rgb(11, 61, 126) 0%, rgb(13, 76, 172) 35%, rgb(44, 123, 226) 100%);
    
    }

    .about-text{
        width: 90%;
        height: 30%;
    }

    .about-text-bio{
         overflow-y: auto;
    }
    .about-photo{
        width: 90%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-photo img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .swiper-container{
        width: 275px;
        height: 275px;
    }

}
